$color-text-main: #606266;
$color-text-sub: #909399;

$block-wrapper: 1px solid #eaedf4;
$block-wrapper-padding: 24px 32px;
$block-wrapper-boxshadow: 0px 3px 6px 0px #eaedf4;

$color-bg-warning: #fdf6ec;

